# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/

# Mac & Windows system files
.DS_Store
Thumbs.db

# Virtual environments
venv/
.env/

# Data files (optional)
data/*.csv
data/*.xlsx

# Miscellaneous logs
logs/

StreamlitAPP/__pycache__/empfehlung.cpython-313.pyc
StreamlitAPP/__pycache__/empfehlung.cpython-313.pyc
StreamlitAPP/__pycache__/empfehlung.cpython-313.pyc
StreamlitAPP/__pycache__/empfehlung.cpython-313.pyc
StreamlitAPP/__pycache__/start.cpython-313.pyc
StreamlitAPP/__pycache__/Verfilmungsprognose.cpython-313.pyc
